<div class="container-fluid callback">
	<div class="callback-layout"></div>
	<div class="va callback-content"><div>

		<div class="callback-main-section">
			<h2>Нужна консультация специалиста?</h2>

			<h3>Введите Ваш номер телефона</h3>
			<div class="alert alert-danger error callback-number-error hidden">Ошибка</div>
			<input type="text" class="callback-number" placeholder="8 999 888 77 77" />
			
			<div class="hidden callback-name-section">
				<h3>Как к Вам можно обращаться?</h3>
				<div class="alert alert-danger error callback-name-error hidden">Ошибка</div>
				<input type="text" class="callback-name" />
			</div>
			
			<h3>Нажмите эту кнопку</h3>
			<button class="btn btn-lg btn-success callback-send-button"><span class="fa fa-phone"></span> Перезвоните мне</button>
		</div>
		
		<div class="callback-complete-section hidden">
			<h1>Ваша заявка успешно принята</h1>
		</div>
		
		<h2>Мы перезвоним Вам в ближайшее время</h2>

	</div></div>
</div>