<div class="window-head"><%
	%><div class="window-title">Заголовок окна</div><%
	%><div class="window-close"><span class="fa fa-2x fa-close">&nbsp;</span></div><%
%></div><%
%><div class="window-content"><%

%></div>